<h2><%= @group.name %> Invoice</h2>

<%= form_tag group_invoice_path(@group.id), method: :get do %>
  <div class="form-group">
    <%= label_tag :date, nil, class: "control-label" %>
    <div class="form-inline">
      <%= select_date @date, {prefix: :date, order: [:year, :month]}, {class: "form-control"} %>
    </div>
  </div>
  <%= submit_tag "Generate", class: "btn btn-primary" %>
<% end %>

<h3>Total: <%= number_to_currency(@invoice.total, precision: 0) %></h3>
<h3>Hours: <%= minutes_to_hours(@invoice.duration) %></h3>

<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>Student</th>
      <th>Hours</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice.student_invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.student.full_name %></td>
        <td><%= minutes_to_hours(invoice.duration) %></td>
        <td><%= number_to_currency(invoice.total, precision: 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
