<h2><%= @group.name %> Group <small><span class="label label-info"><%= @group.students.count%> students</span></small></h2>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Invoice</div>
  <div class="panel-body">
    <div class="col-md-6">
      <%= form_tag group_invoice_path(@group.id), method: :get, class: "form-inline" do %>
        <div class="form-group">
          <%= label_tag :date, nil %>
          <%= select_date @date, { prefix: :date, order: [:year, :month] }, { class: "form-control custom" } %>
        </div>
        <%= submit_tag "Generate", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <%= link_to "Lessons", group_lessons_path(@group.id), class: "btn btn-primary" %>
        <%= link_to "New lesson", new_group_lesson_path(@group.id), class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-md-12">
      <h3>Total: <%= number_to_currency(@invoice.total, precision: 0) %> <small>Hours: <%= minutes_to_hours(@invoice.duration) %></small></h3>
    </div>
  </div>


  <!-- Table -->
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Student</th>
        <th>Hours</th>
        <th>Student</th>
        <th>Koombea</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @invoice.student_invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.student.full_name %></td>
          <td><%= minutes_to_hours(invoice.duration) %></td>
          <td><%= number_to_currency(invoice.student_total, precision: 0) %></td>
          <td><%= number_to_currency(invoice.koombea_total, precision: 0) %></td>
          <td><%= number_to_currency(invoice.total, precision: 0) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% unless @invoice.lessons_with_note.blank? %>
    <h4>Notes</h4>
    <div class="list-group">
      <% @invoice.lessons_with_note.each do |lesson| %>
        <a href="<%= group_lesson_path(lesson.group, lesson)%>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <small><%= lesson.date.strftime("%b %-d, %Y")%></small>
          </div>
          <p class="mb-1"><%= lesson.note %></p>
        </a>
      <% end %>
    </div>
  <% end %>
</div>










