<h1>New lesson for <%= @group.name %></h1>

<%= form_for [@group, @lesson] do |form| %>
  <div class="form_group">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>
  <div class="form_group">
    <%= form.label :duration %>
    <%= form.text_field :duration %>
  </div>
  <%= form.label :attendees %>
  <%= form.fields_for :attendees do |attendee_form| %>
    <div class="form_group">
      <%= attendee_form.label :attendance_option_id, attendee_form.object.student.full_name %>
      <%= attendee_form.select :attendance_option_id, options_from_collection_for_select(@attendance_options, :id, :description) %>
      <%= attendee_form.hidden_field :student_id %>
    </div>
  <% end %>
  <%= form.submit class: 'btn btn-primary' %>
<% end %>
