<h2><%= @group.name %> Group <small><span class="label label-info"><%= @group.students.count%> students</span></small></h2>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Lesson - <%= @lesson.date.strftime("%b %-d %Y") %> - <%= @lesson.duration %> minutes</div>
  <div class="panel-body">
    <div class="col-md-10">
      <%= @lesson.note.blank? ? 'There is not notes for this lesson' : @lesson.note %>
    </div>
    <div class="col-md-2">
      <%= link_to "Edit lesson", edit_group_lesson_path(@group.id, @lesson.id), class: "btn btn-primary pull-right" %>
    </div>

  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Student</th>
        <th>Attendance</th>
      </tr>
    </thead>
    <tbody>
      <% @lesson.attendees.each do |attendee| %>
        <tr>
          <td><%= attendee.student.full_name %></td>
          <td><%= attendee.attendance_option.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
