<h2>Group <%= @group.name %> lesson</h2>
<h3><%= @lesson.date %></h3>
<h3><%= @lesson.duration %> minutes</h3>

<%= link_to "Edit lesson", edit_group_lesson_path(@group.id, @lesson.id), class: "btn btn-primary" %>

<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>Student</th>
      <th>Attendance</th>
    </tr>
  </thead>
  <tbody>
    <% @lesson.attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.student.full_name %></td>
        <td><%= attendee.attendance_option.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
