<div class="clearfix">
  <div class="pull-left">
    <h2 class="hidden-xs">Lesson <%= @group.name %> <small><%= @lesson.date.strftime("%b %-d %Y") %> - <%= @lesson.duration %> minutes</small>
    </h2>
    <h3 class="visible-xs">Lesson <%= @group.name %> <small><%= @lesson.date.strftime("%b %-d %Y") %> - <%= @lesson.duration %> minutes</small></h3>
  </div>
  <%= link_to "Edit lesson", edit_group_lesson_path(@group.id, @lesson.id), class: "btn btn-primary pull-right" %>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Student</th>
      <th>Attendance</th>
    </tr>
  </thead>
  <tbody>
    <% @lesson.attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.student.full_name %></td>
        <td><%= attendee.attendance_option.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
