<h2>Group <%= @group.name %> lesson</h2>
<h3><%= @lesson.date %></h3>
<h3><%= @lesson.duration %> minutes</h3>

<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>Student</th>
      <th>Attendance</th>
    </tr>
  </thead>
  <tbody>
    <% @lesson.attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.student.full_name %></td>
        <td><%= attendee.attendance_option.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
